@import '@/assets/breakpoints';
@import '@/assets/variables';

.whoCanParticipate {
	margin: 90px auto;
}

.tab {
	display: block;
	width: 100%;
	padding: 24px;
	font-size: 20px;
	font-weight: 500;
	line-height: 135%;

	height: 158px;

	position: relative;

	span {
		display: block;
		color: $black-secondary;
		max-width: 240px;
		font-size: 20px;
		font-weight: 500;
		line-height: 135%; /* 27px */

		position: relative;
		z-index: 5;
	}

	&.active {
		background-color: #99c6ff;
	}

	img {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	@include desktop_base {
		img {
			display: none;
		}
	}
}

.descr {
	margin: 12px 0 48px;
}

.content {
	margin-top: 0;
}
