@import '@/assets/variables';

.label {
	font-size: 16px;
	color: $link-gray;

	display: flex;
	flex-direction: column;

	span {
		margin-bottom: 12px;
	}

	input,
	textarea {
		resize: none;

		padding: 14px 20px;
		border: 1px solid $gray-primary;
		border-radius: 5px;
		font-size: 16px;

		transition: box-shadow 0.5s ease;

		&::placeholder {
			color: $input-placeholder;
		}

		&:focus {
			box-shadow: 0 0 10px $blue-primary;
		}
	}

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.error {
	&::after {
		content: '*';
		font-size: 16px;
		color: $red;
	}
}
