@import '@/assets/variables';

.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;

	padding: calc(35px + 85px) 20px 40px;
	width: 100%;

	min-height: 100vh;

	display: flex;
	flex-direction: column;

	background: $white;

	transform: translateX(-150%);
	transition: transform 0.5s ease;

	&.open {
		transform: translateX(0);
	}
}

.navContainer {
	flex: 1;

	a {
		font-size: 18px;
		line-height: 24px;
		color: $link-gray;
		display: inline-block;
		margin-bottom: 24px;
	}
}

.loginButton {
	width: 100%;
}
