@import '@/assets/variables';
@import '@/assets/breakpoints';

.wrapper {
	position: relative;
	background: $blue-secondary;
}

.tabs {
	width: 100%;

	display: flex;

	.tab {
		width: 100%;
		position: relative;
		z-index: 500;
		cursor: pointer;

		transition: background-color 0.5s ease;

		&.active {
			background: #eff5fc;
		}

		@include tablet {
			text-align: center;
		}
	}

	span {
		position: relative;
		z-index: 5;
	}
}

.bgImage {
	position: absolute;

	&.left {
		top: 0;
		left: 0;
		height: 100%;
	}

	&.right {
		top: 0;
		right: 0;
		height: 100%;
	}
}

.slide {
	display: grid;
	height: 100%;
	place-items: center;
	align-items: center;
	text-align: center;
}

.content {
	margin-top: 24px;
}

.tabs {
	@include tablet {
		display: none;
	}
}

.tabsSlider {
	display: none;
	position: relative;

	@include tablet {
		display: block;
	}
}

.navBtn {
	width: 33px;
	height: 33px;

	border-radius: 50%;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	z-index: 5;

	display: grid;
	place-items: center;
	padding: 0;

	&.prev {
		left: 15px;
	}

	&.next {
		right: 15px;
	}
}
