@import '@/assets/variables';
@import '@/assets/breakpoints';

.mainBlock {
	display: grid;
	height: 100vh;
	width: 100%;
	align-items: center;
	gap: 20px;

	position: relative;

	@media screen and (max-height: 700px) {
		padding-top: 130px;
		min-height: 100vh;
		height: 100%;
		padding-bottom: 24px;
	}

	@include desktop_base {
		grid-template-columns: 1fr;
	}
}

.title {
	font-size: 38px;
	font-style: normal;
	font-weight: 600;
	line-height: 47px; /* 85px */

	margin-bottom: 24px;

	@include tablet {
		font-size: 28px;
		line-height: 35px;
	}
}

.content {
	width: 100%;
	max-width: 650px;

	position: relative;
	z-index: 5;

	@include desktop_base {
		max-width: 100%;
	}
}

.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text {
	color: var(--gray-6-o, #666);
	font-size: 16px;
	font-weight: 400;
	line-height: 135%;
}

.achievements {
	display: flex;
	justify-content: space-between;

	margin-top: 60px;

	span {
		color: $text-blue;
		font-size: 36px;
		font-weight: 800;
		line-height: 125%;
	}

	@include tablet_small {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px;
	}
}

.video {
	position: absolute;
	right: -25px;
	top: 50%;
	transform: translate(0, -50%);

	width: 750px;

	@include desktop_base {
		display: none;
	}
}
