@import '@/assets/variables';
@import '@/assets/breakpoints';

.search {
	width: 100%;
	display: flex;

	& > * {
		margin: 0 !important;
	}

	& > *:nth-child(2) {
		flex: 1;
	}
}

.input {
	flex: 1;

	border-left: none !important;

	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.stages {
	display: flex;
	gap: 12px;

	@include tablet {
		flex-wrap: wrap;
	}
}

.stageToggle {
	display: block;
	margin: 24px 0;

	border-radius: 20px;
	border: 1px solid #999999;
	padding: 4px 10px;

	cursor: pointer;

	font-size: 16px;

	transition: all 0.5s ease;

	&:hover {
		background: $blue-primary;
		border: 1px solid $blue-primary;
		color: $white;
	}

	&.active {
		background: $blue-primary;
		border: 1px solid $blue-primary;
		color: $white;
	}

	@include tablet {
		margin: 0;

		margin-top: 12px;
	}
}

.typeFilters {
	display: flex;
	justify-content: space-between;

	@include tablet {
		flex-direction: column;
	}
}

.typeFilterItem {
	display: inline-block;
}

.localitySelect {
	border: 1px solid #ccc !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right: none !important;

	position: relative;

	& > div {
		background-color: $white;
		border: none !important;
	}

	fieldset {
		border: none !important;
	}

	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
		background-color: #cce2ff;
		width: 1px;
		height: 70%;
	}
}

.showAs {
	@include tablet {
		display: none;
	}
}
