@import '@/assets/variables';
@import '@/assets/breakpoints';

.active {
	color: $blue-border !important;
}

.active > span {
	color: $alert-text-color !important;

	& > span {
		color: $alert-text-color;

		transition: color 0.5s ease;

		&:hover {
			color: $alert-text-color !important;
		}
	}
}

.tab {
	display: grid;
	place-items: center;
	font-size: 20px;
	font-weight: 500;
	line-height: 135%;
	padding-bottom: 12px;

	span {
		display: block;
		color: $black-secondary;
		font-size: 18px;

		@include tablet {
			max-width: 240px;
			font-size: 20px;
			font-weight: 500;
			line-height: 135%; /* 27px */

			position: relative;
			z-index: 5;
		}

		@include tablet {
			font-size: 18px;
		}
	}

	position: relative;
	color: $gray-secondary;

	&:hover {
		color: $alert-text-color;
	}

	margin-right: 20px;

	@include tablet {
		font-size: 16px;
		padding: 24px;
		height: 158px;
		margin-right: 0;
	}
}

.qna {
	background: $white;
	padding: 100px 0;

	@include mobile {
		margin: 40px 0 0;
		padding: 40px 0;
	}

	&.noPadding {
		padding: 0;
		margin: 24px 0;
	}
}

.tabs {
	margin-top: 40px;

	& > div > div {
		width: auto !important;
	}
}
