@import '@/assets/variables';
@import '@/assets/breakpoints';

.active {
	color: $blue-border;
}

.active > span {
	color: $blue-border;

	&:hover {
		opacity: 0.8;
		color: $blue-border !important;
	}
}

.tab {
	display: grid;
	place-items: center;
	width: 100%;
	padding: 24px;
	font-size: 20px;
	font-weight: 500;
	line-height: 135%;

	height: 158px;

	span {
		display: block;
		color: $black-secondary;
		font-size: 18px;

		@include tablet {
			max-width: 240px;
			font-size: 20px;
			font-weight: 500;
			line-height: 135%; /* 27px */

			position: relative;
			z-index: 5;
		}

		@include tablet {
			font-size: 18px;
		}
	}

	position: relative;
	color: $gray-secondary;

	&:hover {
		color: $alert-text-color;
	}

	@include tablet {
		font-size: 16px;
	}
}

.qna {
	background: $white;
	margin: 100px 0;
	padding: 100px 0;

	@include mobile {
		margin: 40px 0;
		padding: 40px 0;
	}

	&.noPadding {
		padding: 0;
		margin: 24px 0;
	}
}

.tabs {
	margin-top: 40px;
}
