body {
	height: 100%;
	scroll-behavior: smooth;

	& > div {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}

html {
	scroll-behavior: smooth;
}

#root {
	height: 100%;
}

//text configs
h1 {
	font-size: $h1-desktop-fz;
	line-height: $h1-desktop-lh;
}
h2 {
	font-size: $h2-desktop-fz;
	line-height: $h2-desktop-lh;
}
h3 {
	font-size: $h3-desktop-fz;
	line-height: $h3-desktop-lh;
}
h4 {
	font-size: $h4-desktop-fz;
	line-height: $h4-desktop-lh;
}
a {
	font-size: $link-secondary-fz;
	line-height: $link-primary-lh;
}
p {
	color: $link-gray;
	font-size: 18px;
	line-height: 24px;

	@media screen and (max-width: 550px) {
		font-size: 16px;
		line-height: 21px;
	}
}
span {
	font-size: $text-secondary-fz;
	line-height: $text-primary-lh;
}
input {
	font-size: $input-primary-fz;
}

//scroll styles
html {
	scrollbar-width: thin;
	scrollbar-color: $blue-primary transparent;
}
html::-webkit-scrollbar-track {
	background-color: $blue-primary;
	border: none;
	border-radius: $default-border-radius;
}
::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background: $white;
	border: none;
	border-radius: 1px;
}
::-webkit-scrollbar-thumb {
	background-color: $blue-primary;
	border: none;
	border-radius: $default-border-radius;
}

.main {
	padding-top: 110px;
	background-color: $blue-secondary;
	flex: 1;

	@media screen and (max-width: 992px) {
		padding-top: 120px;
	}
}

.plain-select {
	* {
		&:focus {
			outline: none !important;
		}

		border: none !important;
	}
}

.plain-select
	.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 0 32px 0 12px;
}

.whiteBackground {
	background-color: $white;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
	border: 1px solid #b3b3b3;

	&:hover {
		border-color: #1976d2;
	}
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
	border-color: #1976d2;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
	border-radius: 5px !important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root {
	border-radius: 5px !important;
}

.css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root:hover {
	background-color: #1976d2 !important;
	color: $white;
}

a {
	&:not(.button) {
		font-size: inherit;
		color: #3461c1;
		transition: color 0.5s ease;

		&:visited {
			color: #3461c1;
		}

		&:hover {
			color: #007000;
		}
	}
}
