@import '@/assets/variables';
@import '@/assets/breakpoints';

.content {
	overflow: hidden;
	padding: 0 32px;

	transition: height 0.5s ease;

	@include mobile {
		padding: 0 16px;
	}

	img {
		display: block;

		width: 100%;
	}
}

.item {
	background: $blue-secondary;

	transition:
		padding-bottom 0.5s ease,
		grid-template-rows 0.5s ease;

	&.open {
		grid-template-rows: 72px 1fr;
	}

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	&.open {
		padding-bottom: 24px;

		@include mobile {
			padding-bottom: 12px;
		}
	}

	&:not(.open) .header {
		&:hover {
			opacity: 0.8;
		}
	}
}

.header {
	background: $blue-secondary;
	padding: 24px 32px;

	position: relative;

	cursor: pointer;

	span {
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
		display: block;
		max-width: 90%;
	}

	@include mobile {
		padding: 12px 16px;
		margin-bottom: 25px;
	}
}

.postfix {
	position: absolute;
	right: 32px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;

	transition: transform 0.5s ease;

	&.open {
		transform: translateY(-50%) rotate(45deg);
	}

	@include mobile {
		right: 12px;
	}
}
