@import '@/assets/variables';
@import '@/assets/breakpoints';

.title {
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;

	margin-bottom: 20px;
}

.buttons {
	margin-top: 20px;

	display: flex;
	gap: 24px;

	@include tablet_small {
		flex-direction: column;
	}
}

.alert {
	margin: 0 0 48px;
	padding: 32px;

	@include tablet_small {
		padding: 20px;
	}

	@include tablet {
		margin: 0 0 24px;
	}
}

.grid {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 40px;

	margin-top: 60px;

	@include desktop_base {
		display: flex;
		flex-direction: column-reverse;

		margin-top: 24px;
	}

	@include tablet {
		gap: 20px;
		margin-top: 24px;
	}
}

.confirmAddressModal {
	max-width: 660px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 7px;

	padding: 40px;
	background: $white;
}

.sidebar {
	position: relative;
	overflow: hidden;

	padding: 20px;
	background: $white;

	margin-bottom: 20px;

	span {
		display: block;
		margin-bottom: 5px;

		font-size: 18px;
		line-height: 24px;

		position: relative;
		z-index: 5;
	}

	&Title {
		&:not(:first-child) {
			margin-top: 24px;
		}
	}
}

.sidebarImage {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.sidebarTitle {
	font-size: 24px;
	margin-bottom: 12px;
}

.community {
	p {
		font-size: 18px;
		line-height: 24px;
		color: $white;
		margin-bottom: 32px;

		@include mobile {
			font-size: 16px;
			line-height: 21px;
		}
	}
}

.communityTitle {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 20px;
	color: $white;

	@include mobile {
		font-size: 18px;
		line-height: 24px;
		font-weight: 500;
	}
}

.communityBlock {
	padding: 24px;

	background-color: $blue-primary;

	margin-bottom: 48px;

	@include mobile {
		margin-bottom: 0;
		padding: 20px;
	}
}

.blockTitle {
	margin-bottom: 40px;
	color: $page-title-color;
}

.accordion {
	background: $white;

	& > header {
		background: $white;
	}
}

.sticky {
	position: sticky;
	top: 15px;

	@include mobile {
		margin-bottom: 0;
	}
}

.communityContainer {
	margin: 100px auto;

	@include mobile {
		margin: 40px 0;
	}

	.button {
		@include mobile {
			width: 100%;
		}
	}
}

.tabItemText {
	margin-bottom: 24px;
}
